[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xhotkeys
Type=Application
Exec=xhotkeys-gui
Icon=xhotkeys.png
Terminal=false
Categories=Application;Utility;
StartupNotify=true
